$white: #fff;
$gray: #FAFAFA;
$dark: #000;
$green: #27D92E;

$font-family-main: "Inter", sans-serif;

$font-size-big: 20px;
$font-size-normal: 16px;

$font-weight-semibold: 600;
$font-weight-regular: 400;

$box-shadow-main: 0px 0px 10px rgba(160, 140, 140, 0.25);

$border-radius-normal: 10px;